body, table, tr, td, div, b, a, input, textarea, form, select {
	font-family: verdana, arial, sans-serif;
    font-size: 10px;
    margin: 0px;
}
.grey {
    color: #E0E0E0;
    text-decoration: none;
}

.grey:link {
    color: #E0E0E0;
}

.grey:visited {
    color: #E0E0E0;
}

.grey:hover {
    text-decoration: underline;
    color: #E0E0E0;
}

A {
    text-decoration: none;
}

A:hover {
    text-decoration: underline;
    color: #990000;
}

.button {
    color: #E0E0E0;
    text-decoraton: underline;
}

/* Form elements */
select, input, textarea { 

    border-style: solid;
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px;
	border-color: #B3B3B4;
	background-color: #CFCFD1;

	border: 1px solid #b3b3b3;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 1px;
	margin-right: 2px;
	background-color: #CFCFD1;
	height: 17px;
	line-height: 13px;
	font-size: 10px;
	font-family: verdana, arial, sans-serif;
	font-weight: bold;
	color: #5C5C5C;
}

.border0{
	border-top-width: 0px; 
	border-right-width: 0px; 
	border-bottom-width: 0px; 
	border-left-width: 0px;
}
